@{
    string backButtonText = string.Empty;
    bool lastItem = false;
}

<!-- BEGIN BREADCRUMBS -->
<ul class="page-breadcrumb">
    @foreach (var item in ViewBag.Breadcrumbs)
    {
        string actionName = item.ActionName as string;
        string controllerName = item.ControllerName as string;
        string title = item.ViewTitle as string;
        if (item == ((List<Common.UIElements.Breadcrumb>) ViewBag.Breadcrumbs).Last())
        {
            lastItem = true;
            backButtonText = item.BackButtonText;
        }

        <li>
            @if (item.Id == 0 && item.ParentId == 0) //sadece anasayfa için icon bas
            {
                <i class="fa fa-home" style="color: #615F5F; font-size: 18px"></i>
                <a href="@Url.Action(actionName, controllerName)" class="nav-link"> @title </a>
            }
            else if ((controllerName == "" && actionName == "") || lastItem) //sadece anasayfa için icon bas
            {
                <i class="fa fa-circle"></i>
                <a class="no-navigate" href="#">@title</a>

            }
            else
            {
                string anchor = controllerName + actionName[0].ToString().ToUpper() + actionName.Substring(1); // #homeIndex , #debtorDebt vb..
                <a href="#@anchor" onclick="loadPageFromBreadcrumb('@controllerName', '@actionName');">@title</a>
            }
        </li>
    }
</ul>
<!-- END BREADCRUMBS -->
@if (lastItem && backButtonText != "")
{
    <span class="pull-right" style="color:#AAA;padding-right:10px;font-weight:bold;">
        <i class="fa fa-home"></i>
        <a href="#previous" title="@backButtonText sayfasına geri dön" onclick="goToPreviousPage();">@backButtonText</a>
    </span>
}

<style type="text/css">
    ul.page-breadcrumb li a.no-navigate:hover {
        text-decoration: none;
        cursor: default;
    }
</style>
